# Demo <%= date %>

<% stories.each do |story| -%>
## <%= story[:title] %>
<% if story[:web] %>
### Web

#### Setup

#### Steps

1.

1.

1.
<% end -%>

<% if story[:android] -%>
### Android

#### Setup

#### Steps

1.

1.

1.
<% end -%>

<% end -%>
